<%= form_for spot do |f|  %>

$<%= f.number_field :price,class: 'price', placeholder: "Price", in: 1.0..20.0, step: 1 %>
<div class='input-group date datetimepicker col-sm-2'>
<%= f.text_field :end_time, placeholder: "End Time", class: 'form-control' %>
<span class="input-group-addon">
  <span class="glyphicon glyphicon-calendar"></span>
</span>
</div>
<% end %>

  <script>
    var data = {'data-format': 'MM/dd/yyyy hh:mm PP' };
    $('.datetimepicker').attr(data);
    $('.datetimepicker').datetimepicker(
      // change: function() {
        // console.log("Test")
        // $(this).change();
      // }
    // ).on("input change", function(){
    //   console.log("changed date");
    // }
    // ).on("dp.hide", function(){
    //   console.log("Test")
    // }
    );
  </script>
  <style type="text/css">
    .datetimepicker{
      display: inline;
      float:left;
    }
  </style>