<%= form_for spot do |f|  %>

$<%= f.number_field :price, placeholder: "Price", in: 1.0..20.0, step: 1 %>
<div class='input-group date datetimepicker'>
<%= f.text_field :end_time, placeholder: "End Time", class: 'form-control' %>
<span class="input-group-addon">
  <span class="glyphicon glyphicon-calendar"></span>
</span>
</div>
<% end %>

  <script>
    var data = {'data-format': 'MM/dd/yyyy hh:mm:ss PP' };
    $('.datetimepicker').attr(data);
    $('.datetimepicker').datetimepicker();
  </script>