<h5>My Spots</h5>

<% @spots.each do |spot| %>

<div id="toggle"></div>

<script>
	$("#toggle").btnSwitch({
		Theme: 'Light',
	});
</script>

<% end %>

<div id="test"></div>

<script>
	$("#test").btnSwitch({
		Theme: 'Light',
	});
</script>
