	<% if @user.owned_spots %>


	<%# render partial: "spots/switch", locals: {user: @user, spots: @spots} %>
		<div class="owner">
			<%= render 'owner_show' %>
		</div>
		<div class="owner_wants_to_rent">
			<%= render 'renters' %>
		</div>
	<% else %>
	<div>
		<%= render 'renters' %>
	</div>
	<% end %>


