<!-- <h1>Available spots</h1> -->
<!-- <div id="map"></div><br> -->


<!-- <h3>Rent a spot</h3> -->
<%# if @user.current_reservation %>
	<!-- <p>All done with your errands? Tap the button below to end your reservation!</p> -->
	<%#= button_to "End Reservation", spot_reservation_path(@location, @reservation), method: :patch %>
<%# end %>


<!-- <h1>Here is the separation</h1> -->


<%# if @user.owned_spots %>
		<!-- <div class="owner"> -->
			<%#= render 'owner_show' %>
		<!-- </div> -->
		<!-- <div class="owner_wants_to_rent"> -->
			<%#= render 'renters' %>
		<!-- </div> -->
<%# else %>
	<!-- <div> -->
		<%#= render 'renters' %>
	<!-- </div> -->
<%# end %>

<h1>Available spots</h1>
<div id="map"></div>
<div class="container_fluid">
<% if @user.current_reservation %>
	<p>All done with your errands? Tap the button below to end your reservation!</p>
	<%= button_to "End Reservation", spot_reservation_path(@location, @reservation), method: :patch %>
	<% else %>
		<% @spots.each do |spot| %>

	  	<div class="col-sm-4" style="max-width:100%">
	      <a href="/w3images/lights.jpg">
	        <img class="steep" src="http://career.iresearchnet.com/wp-content/uploads/2015/05/Model-Career.jpg" alt="Lights" style="width:100%">
	      </a>
	    	<div class="caption">
	       <em>
	       	<p>$<%= spot.price%></p>
	       <em>
	       <p><%= spot.address%></p>
	      </div>
	    </div>
	 <% end %>
	</div>

<% end %>

<h2>Owners Show</h2>
<h4 id="left">My Spots</h4><h4 id="right" class="btn btn-primary next-step">Rent a spot</h4>


<div class="spot-list clearfix">
  <%= render current_user.owned_spots_ordered %>
</div>

