
<!-- <div>
    <div id="jumbo" class="jumbotron">
        <h1>SPOTTED </h1>
        <p>Going out for a drive or driving to work, let your parking spot make some money for you. Making money has never been easier</p>
        <p><a class="btn btn-default" role="button" href="#">Learn more</a></p>
    </div>
</div> -->

<div class="simple-slider">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image:url(https://quoted.thezebra.com/wp-content/uploads/2015/03/o-COUPLE-DRIVING-AWAY-IN-A-CAR-facebook.jpg);"><h1 id="bold">SPOTTED </h1>
                <p id="par">Make Extra money going for a drive</p></div>
                <div class="swiper-slide" style="background-image:url(http://stylevanity.com/wp-content/uploads/2013/05/portrait-of-smiling-woman-driving-convertible-with-boyfriend.jpg);"><h1 id="bold">FIND YOUR SPOT </h1>
                    <p id="par">It is right around the corner</p></div>
                    <div class="swiper-slide" style="background-image:url(https://s-media-cache-ak0.pinimg.com/originals/c6/cb/e5/c6cbe5599a8873545907e26b4f86a440.jpg);"><h1 id="bold">SMILE </h1>
                        <p id="par">Have fun with peace of mind</p></div>
                    </div>
        <!-- <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div> -->
    </div>
</div>
<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-push-6 item text">
                    <h3>Spotted</h3>
                    <p>We are happy to serve you to the best, you going out and having peace of mind about your car is our priority.</p>
                </div>
                <div class="col-md-3 col-md-pull-6 col-sm-4 item">
                    <h3>About</h3>

                    <ul>
                        <li><%= link_to 'Home', root_path %></li>
                        <li><%= link_to 'Team', welcome_team_path %></li>
                    </ul>
                </div>
                <% if false %>
                <div class="col-md-3 col-md-pull-6 col-sm-4 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#">Find a spot</a></li>
                        <li><a href="#">Create a spot</a></li>
                    </ul>
                </div>
                <% end %>
            </div>
            <p class="copyright">Spotted © 2016</p>
        </div>
    </footer>
</div>
