<div class="project-grid">
	<div class="container">
		
		<br>
		<br>

		<h1 style="font-size:65px">Project Details</h1>

		<div class="row people">

		<h2 class="text-center">The Stack</h2>

			<div class="box" style="background-image:url(https://udemy-images.udemy.com/course/750x422/8082_e627_11.jpg)">
				<div class="cover">
					<h3 class="name" style="color:white;font-size:65px;padding-top:80px">Backend</h3>
				</div>
			</div>

			<div class="box" style="background-image:url(http://wakeupandcode.com/wp-content/uploads/2013/02/html5_css_javascript.png)">
				<div class="cover">
					<h3 class="name" style="font-size:65px;padding-top:80px">Frontend</h3>
				</div>
			</div>

			<div class="box" style="background-image:url(https://www.dwrl.utexas.edu/wp-content/uploads/2016/11/google-maps-new-interface1.jpg)">
				<div class="cover">
					<h3 class="name" style="color:white;font-size:65px;padding-top:80px">API</h3>
				</div>
			</div>

			<div class="box" style="background-image:url(https://www.j2store.org/images/plugins_logo/amazon_s3.png)">
			</div>

			<div class="box" style="background-image:url(https://udemy-images.udemy.com/course/750x422/193012_62e5_3.jpg)">
			</div>
		</div>
	</div>
</div>
